<% include partials//header.ejs %>
    <h1>Home</h1>
    <p>
        <%=  parragraph  %>
    </p>
    <% postArray.forEach(function(post){ %>
        <h1>
            <%= post.postTitle %>
        </h1>
        <p>
            <%=  post.postBody.substring(0, 100)+" ..."  %> <a href="/posts/<%=post.postTitle%>">Read more.</a>
        </p>
        <%})%>
            <% include partials//footer.ejs %>